body{
    background-color: khaki;
}

.menu img {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.menu footer,img:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.fim footer{
    width: 20px;
    height: auto;
    cursor: pointer;
}
